/*---------------Site Wide CSS---------------*/
.group:after {
  content: "";
  display: table;
  clear: both; }

.stuck_js {
  position: fixed;
  top: 0px;
  z-index: 30; }

body {
  font-family: Inconsolata; }
  body header {
    border-bottom: 1px solid black; }
    body header #motto {
      font-family: 'Fjalla One', sans-serif;
      text-align: center; }
    body header nav ul li {
      display: inline; }
      body header nav ul li a {
        text-decoration: none; }
  body img {
    display: block;
    margin: 50px auto 40px auto; }
  body p {
    margin: auto;
    text-align: center;
    font-size: 1em;
    line-height: 150%; }
    body p span {
      font-size: 1em; }
    body p a {
      color: rgba(50, 50, 50, 0.7); }
      body p a:hover {
        color: blue; }
  body footer {
    border: 1px solid transparent;
    margin: auto;
    text-align: center;
    font-family: helvetica;
    font-size: 0.6em;
    padding-bottom: 15px; }
    body footer hr {
      width: 85%; }
  body .postTitle {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bolder;
    text-align: left; }
  body .postPublished {
    -webkit-margin-before: 5px;
    -webkit-margin-after: 0px;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bolder;
    text-align: left; }
  body .postAuthor {
    -webkit-margin-before: 5px;
    -webkit-margin-after: 0px;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bolder;
    text-align: left; }
  body .postTitleLink {
    text-decoration: none;
    color: black; }
  body #disqus_thread {
    width: 85%;
    padding: 3%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 2px;
    background-color: white; }
  body .blog {
    height: auto;
    width: 85%;
    border: 1px solid black;
    border-radius: 2px;
    background-color: rgba(245, 245, 245, 0.9);
    margin: auto;
    margin-top: 5px;
    padding: 3%; }
    body .blog p {
      text-align: left; }
    body .blog .blog_img {
      height: 350px;
      width: 350px;
      display: inline-block;
      float: right; }
    body .blog blockquote {
      border: 1px solid grey;
      border-radius: 3px; }
      body .blog blockquote p {
        text-align: center; }
    body .blog pre {
      border: 1px solid grey;
      border-radius: 3px;
      background-color: #696969;
      padding: 10px; }
    body .blog code {
      border-radius: 3px;
      background-color: #696969;
      color: white; }

/*---------------Mobile Width CSS---------------*/
@media screen and (min-width: 320px) {
  body {
    width: 95%; }
    body img {
      height: 200px;
      width: 200px; }
    body #motto {
      font-size: 2em; } }
/*---------------iPad Width CSS---------------*/
@media screen and (min-width: 768px) {
  body {
    width: 600px;
    margin: auto; }
    body img {
      height: 300px;
      width: 300px; }
    body #motto {
      font-size: 3em; }
    body .postTitle {
      font-size: 2em; }
    body .postPublished {
      font-size: 1.2em; } }
/*---------------Full Width CSS---------------*/
@media screen and (min-width: 1000px) {
  body {
    width: 990px;
    margin: auto; }
    body img {
      height: 300px;
      width: 300px; }
    body #motto {
      font-size: 3em; }
    body .postTitle {
      font-size: 2em; }
    body .postPublished {
      font-size: 1.2em; } }
