
@import "compass/reset";

/*---------------Site Wide CSS---------------*/

.group:after{
  content: "";
  display: table;
  clear: both;
}
.stuck_js{
  position: fixed;
  top: 0px;
  z-index:30;
}
body{
  margin:auto;
  font-family: 'Abel', sans-serif;
  header{
    border-bottom:1px solid black;
    #motto{
        font-family: 'Advent Pro', sans-serif;
        text-align: center;
    }
    nav{
      margin-left: 50px;
      ul{
        li{
          display:inline;
          a{
            text-decoration: none;
          }
        }
      }
    }
  }
  img{
    display: block;
    margin:  50px auto 40px auto;
  }
  p{
    margin: auto;
    text-align: center;
    font-size: 1em;
    line-height:150%;
    span{
      font-size:1em;
    }
    a{
      color: rgba(50, 50, 50, 0.7);
      &:hover{
        color: blue;
      }
    }
  }
  footer{
    border: 1px solid transparent;
    margin: auto;
    text-align: center;
    font-family: helvetica;
    font-size: 0.6em;
    padding-bottom: 15px;
    hr{
      width: 85%;
    }
  }
  .postTitle{
    font-family: 'Advent Pro', sans-serif;
    font-weight: bolder;
    text-align: left;
  }
  .postPublished{
    font-family: 'Advent Pro', sans-serif;
    font-weight: bolder;
    text-align: left;
  }
  .postAuthor{
    font-family: 'Advent Pro', sans-serif;
    font-weight: bolder;
    text-align: left;
  }
  .postTitleLink{
    text-decoration:none;
    color:black;
  }
  #disqus_thread{
    width:85%;
    padding:3%;
    margin:5px auto 15px auto;
    border:1px solid black;
    border-radius:2px;
    background-color: white;
  }
  .blog{
    height:auto;
    width:85%;
    border:1px solid black;
    border-radius:2px;
    background-color:rgba(245,245,245,.9);
    margin:5px auto;
    padding:3%;
    p{
      text-align: left;
    }
    .blog_img{
      height:350px;
      width:350px;
      display:inline-block;
      float:right;
    }
    blockquote{
      border:1px solid grey;
      border-radius: 3px;
      p{
        text-align: center;
      }
    }
    pre{
      font-family: Inconsolata;
      border:1px solid grey;
      border-radius: 3px;
      background-color: #A9A9A9;
      padding:10px;
      line-height: 1.2em;
    }
    code{
      font-family: Inconsolata;
      border-radius: 3px;
      background-color: #A9A9A9;
      padding:1px 4px;
    }
  }
}

/*---------------Mobile Width CSS---------------*/
@media screen and (min-width: 320px){
  body{
    img{
      height: 200px;
      width: 200px;
    }
    width: 315px;
    header{
      #motto{
        font-size: 2em;
      }
      nav{
        margin-left: 30px;
        a{
          font-size: 1.2em;
        }
      }
    }
    .postTitle{
      font-size: 1.3em;
    }
    .postPublished{
      font-size: 1em;
    }
  }
}

/*---------------iPad Width CSS---------------*/
@media screen and (min-width: 768px){
  body{
    width: 700px;
    margin: auto;
    img{
      height: 300px;
      width: 300px;
    }
    header{
      #motto{
        font-size: 3em;
      }
      nav{
        a{
          font-size: 1.4em;
        }
      }
    }
    .postTitle{
      font-size: 2em;
    }
    .postPublished{
      font-size: 1.2em;
    }
  }
}

/*---------------Full Width CSS---------------*/
@media screen and (min-width: 1000px){
  body{
    width: 990px;
    margin: auto;
    img{
      height: 300px;
      width: 300px;
    }
    header{
      #motto{
        font-size: 3em;
        }
      }
    .postTitle{
      font-size: 2em;
    }
    .postPublished{
      font-size: 1.2em;
    }
  }
}